# Copyright 2022, Proofcraft Pty Ltd
#
# SPDX-License-Identifier: BSD-2-Clause

# Build and push docker image on changes to relevant files

name: Deploy webserver image

on:
  push:
    branches:
    - master
    paths:
    - 'scripts/**'
    - 'seL4-platforms/**'
    - 'webserver/**'
  workflow_dispatch:

jobs:
  docker:
    name: Docker (Web Server)
    if: ${{ github.repository_owner == 'seL4' }}
    runs-on: ubuntu-latest
    steps:
    - uses: docker/setup-buildx-action@v2
    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - uses: docker/build-push-action@v3
      with:
        push: true
        file: webserver/Dockerfile
        tags: sel4/webserver:latest
